{% extends 'layout.html.twig' %}

{% block content %}
    <div class="row-card">
        <div class="card w-75 flight-card mb-4">
            <div class="card-body">
                <h5 class="card-title text-warning font-weight-bold">{{ flight.name }}</h5>
                <p class="card-text text-danger font-weight-bold float-right">
                    {{ flight.price }} €
                </p>
                <p class="card-text">
                    {{ flight.departure_city }}
                    <img class="airplane-icon" src="assets/imgs/vol_icon.png">
                    {{ flight.arrival_city }}
                </p>
                <p class="card-text float-left mr-5 text-dark font-weight-bold">Departure : {{ flight.date_of_departure }}</p>
                <p class="card-text mr-5 text-dark font-weight-bold">Arrival : {{ flight.date_of_arrival }}</p>
            </div>
            <div class="card-footer">
                <p class="card-text mr-5">Post the {{ flight.date | date }}</p>
            </div>
        </div>
    </div>
    <div class="row information">
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-dark o-hidden h-100">
                <div class="card-header text-white clearfix small">
                    <h3 class="text-center">Economic</h3>
                </div>
                <div class="card-body">
                    <h4 class="text-center">{{ flight.capacity_economic }}</h4>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-warning o-hidden h-100">
                <div class="card-header text-white clearfix small">
                    <h4 class="text-center">Business</h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center">{{ flight.capacity_business }}</h3>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-3">
            <div class="card text-white bg-dark o-hidden h-100">
                <div class="card-header text-white clearfix small">
                    <h4 class="text-center">First</h4>
                </div>
                <div class="card-body">
                    <h3 class="text-center">{{ flight.capacity_first }}</h3>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
