{% extends 'layout_back.html.twig' %}

{% block content %}
    <h2 class="mt-3 mb-3 text-center">Airplanes</h2>
    <div class="block-star-spec">
        <div class="line-spec"></div>
        <i class="fa fa-bolt" aria-hidden="true"></i>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Capacity economic</th>
                    <th>Capacity business</th>
                    <th>Capacity first</th>
                    <th>Capacity</th>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Enabled</th>
                </tr>
            </thead>
            <tbody>

            {% for airplane in airplanesWithType %}

                <tr>
                    <td>{{ airplane.id }}</td>
                    <td>{{ airplane.airplane_name }}</td>
                    <td>{{ airplane.capacity_economic }}</td>
                    <td>{{ airplane.capacity_business }}</td>
                    <td>{{ airplane.capacity_first }}</td>
                    <td>{{ airplane.capacity }}</td>
                    <td>{{ airplane.type_name }}</td>
                    <td>{{ airplane.date | date }}</td>
                    <td>{{ airplane.enabled }}</td>
                </tr>
            {% endfor %}
                <tr class="tr-action">
                </tr>
            </tbody>
        </table>
    </div>
    <a class="link-new-item mb-3" href="/air-base/?page=admin/airplanes/new"><strong class="btn-more">+</strong></a>
    {% endblock content %}
