{% extends 'layout_back.html.twig' %}

{% block new %}
    <div class="edit">
        <form id="" method="POST">

            <div class="checkbox-roles">
                {% for role in roles %}
                    <div>
                        <label for="roles" class="label-roles">{{ role.name }}</label>
                        <input
                            class="input-roles"
                            value="{{ role.id }}"
                            type="checkbox" name="role"
                            id="roles">
                    </div>
                    <hr>
                {% endfor %}
            </div>

            <div class="form-group row">
                <label for="firstname" class="col-sm-2 col-form-label col-form-label-sm">Firstname</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" value="{{ user.firstname }}" type="text" name="firstname" id="firstname">
                </div>
            </div>
            <div class="form-group row">
                <label for="lastname" class="col-sm-2 col-form-label col-form-label-sm">Lastname</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" value="{{ user.lastname }}" type="text" name="lastname" id="lastname">
                </div>
            </div>
            <div class="form-group row">
                <label for="pseudo" class="col-sm-2 col-form-label col-form-label-sm">Pseudo</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" value="{{ user.pseudo }}" type="text" name="pseudo" id="pseudo">
                </div>
            </div>
            <div class="form-group row">
                <label for="address" class="col-sm-2 col-form-label col-form-label-sm">Address</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" value="{{ user.address }}" type="text" name="address" id="address">
                </div>
            </div>
            <div class="form-group row">
                <label for="zip-code" class="col-sm-2 col-form-label col-form-label-sm">Zip code</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" value="{{ user.zip_code }}" name="zip_code" id="zip-code">
                </div>
            </div>
            <div class="form-group row">
                <label for="city" class="col-sm-2 col-form-label col-form-label-sm">City</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" value="{{ user.city }}" name="city" id="city">
                </div>
            </div>
            <div class="form-group row">
                <label for="phone" class="col-sm-2 col-form-label col-form-label-sm">Phone number</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="text" value="{{ user.phone_number }}" name="phone" id="phone">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-sm-2 col-form-label col-form-label-sm">E-mail</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="email" value="{{ user.email }}" name="email" id="email">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
                <div class="col-sm-10">
                    <input class="form-control form-control-sm" type="password" value="{{ user.encrypt_password }}" name="password" id="password">
                </div>
            </div>
            <button class="btn btn-edit" type="submit">Confirm</button>
        </form>
    </div>
{% endblock new %}