{% extends 'layout.html.twig' %}

{% block content %}
    <div class="cards-xysn">
        <div class="block-front-flight">
            {% for flight in criteria %}
                <div class="row-card">
                    <div class="card w-75 flight-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title text-warning font-weight-bold">{{ flight.name }}</h5>
                            <p class="card-text text-danger font-weight-bold float-right">
                                {{ flight.price }} €
                            </p>
                            <p class="card-text">
                                {{ flight.departure_city }}
                                <img class="airplane-icon" src="assets/imgs/vol_icon.png">
                                {{ flight.arrival_city }}</p>
                            <p class="card-text float-left mr-5 text-dark font-weight-bold">Departure : {{ flight.date_of_departure }}</p>
                            <p class="card-text mr-5 text-dark font-weight-bold">Arrival : {{ flight.date_of_arrival }}</p>
                        </div>
                        <div class="card-footer">
                            <button class="btn-show-more-front float-right">
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </button>
                            <p class="card-text mr-5">Post the {{ flight.date | date }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="">
                    <h2>No flights were found.</h2>
                </div>
            {% endfor %}
        </div>
        <div class="form-criteria--">
            {% include 'front/includes/form_criteria.html.twig' %}
        </div>
    </div>
{% endblock content %}