{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'security/message.html.twig' %}
    <div class="cards-xysn">
        <div class="block-front-flight">
            {% for flight in flights %}
                <div class="row-card">
                    <div class="card w-75 flight-card mb-4">
                        <div class="card-body">
                            <div class="sub-card-p">
                                <h5 class="card-title">{{ flight.name }}</h5>
                                <p class="card-text">{{ flight.departure_city }}<img class="airplane-icon" src="assets/imgs/vol_icon.png"> {{ flight.arrival_city }}</p>
                                <p class="card-text float-left mr-5 text-dark">Departure : {{ flight.date_of_departure }}</p>
                                <p class="card-text float-left mr-5 text-dark">Arrival : {{ flight.date_of_arrival }}</p>
                                <p class="card-text float-left mr-5">Post the {{ flight.date | date }}</p>
                                <button class="btn-show-more-front"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-criteria--">
            {% include 'front/includes/form_criteria.html.twig' %}
        </div>
    </div>
{% endblock content %}
